@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #70e383;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 15px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.loader {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #d08335 #d08335;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hidden {
  display: none;
}

.cat-info {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .cat-info {
    flex-direction: row;
  }
}

.cat-info-desc-desc,
.cat-info-desc-temp {
  line-height: 150%;
}

.cat-info-desc-title {
  margin-top: 0;
  color: #320c74;
}

.cat-info-desc-temp {
  font-weight: 400;
  color: #310758;
}

.cat-info-desc-info {
  margin-top: -15px;
}
